body{
  
  background-image: url('../images/dust_scratches.png');
  background-repeat: repeat;
  margin-bottom: 70px;

}

#profilepic {
  margin: 5px 10px 10px 0px;
}


#footerstyle {
  text-align: center;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  padding: 25px 25px 10px 25px;
}

#row1,
#row2,{
  margin-top:20px;

}